.example {
    margin-bottom: 65px;

    pre {
        margin-bottom: 1em;
    }
}

.example-title {
    text-align: center;
}

.example-code {
    display: flex;
    flex-wrap: wrap;

    > pre {
        width: 100%;

        > code {
            height: 100%;
        }
    }
}