.a11y-slider-container {
    position: relative;
}

.a11y-slider {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
    box-sizing: border-box;
}

.a11y-slider::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.a11y-slider > * {
    scroll-snap-align: start;
    box-sizing: inherit;
}

.a11y-slider-focusable {
    position: fixed;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.a11y-slider-focusable:focus {
    background: #000;
    color: #fff;
    width: 100%;
    height: auto;
    margin: 0;
    clip: auto;
    padding: 10px;
}